.header {
    background: #ffffff;
    text-align: center;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #8B7969;
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.12px;
    text-decoration-skip-ink: none;
    
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    max-width: 800px;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 100px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__input--tel {
    display: flex;
    align-items: center;
    gap: 10px;
    /* 入力欄とハイフンの間隔 */
}

.form__input--tel input {
    width: 60px;
    /* 入力欄の幅 */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    /* 中央寄せ */
}

.form__phone-hyphen {
    color: #555;
    /* ハイフンの色 */
    font-size: 18px;
    /* ハイフンのサイズ */
    margin: 0 5px;
    /* 入力欄との間隔 */
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: auto;
    min-width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756a;
    color: #fff;
    cursor: pointer;
}